#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body {
  overflow-x: hidden !important;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.blob1 {
  animation: blobanimation 3s infinite;
}

.blob2 {
  animation: blobanimation 3s infinite;
  animation-delay: 2s;
}

@keyframes blobanimation {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(60px, -20px) scale(1.2);
  }

  66% {
    transform: translate(-10px, 20px) scale(0.9);
  }

  100% {
    transform: tranlate(0px, 0px) scale(1);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* Replace with your desired color */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white !important; /* Change color on hover */
}
